streamlit
pandas
snowflake-connector-python
boto3
opencv-python-headless
easyocr
langchain
Pillow
transformers
langchain-experimental
fuzzywuzzy
langchain-community
PyPDF2
langchain-google-genai
langchain-core
langchain-text-splitters
langchain-vectorstores
