aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asn1crypto
asttokens
attrs
blinker
boto3
botocore
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
cryptography
dataclasses-json
debugpy
decorator
distro
easyocr
et_xmlfile
executing
faiss-cpu
filelock
filetype
frozenlist
fsspec
fuzzywuzzy
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
httpx-sse
huggingface-hub
idna
imageio
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
jiter
jmespath
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
langchain
langchain-community
langchain-core
langchain-experimental
langchain-google-genai
langchain-text-splitters
langsmith
lazy_loader
MarkupSafe
marshmallow
matplotlib-inline
mpmath
multidict
mypy-extensions
narwhals
nest-asyncio
networkx
ninja
numpy
openai
opencv-python-headless
openpyxl
orjson
packaging
pandas
parso
pillow
pip
platformdirs
prompt_toolkit
propcache
proto-plus
protobuf
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
pyclipper
pycparser
pydantic
pydantic_core
pydantic-settings
pydeck
Pygments
pyOpenSSL
pyparsing
PyPDF2
python-bidi
python-dateutil
python-dotenv
pytz
pywin32
PyYAML
pyzmq
referencing
regex
requests
requests-toolbelt
rpds-py
rsa
s3transfer
safetensors
scikit-image
scikit-learn
scipy
sentence-transformers
setuptools
shapely
six
smmap
sniffio
snowflake-connector-python
sortedcontainers
SQLAlchemy
stack-data
streamlit
sympy
tabulate
tenacity
threadpoolctl
tifffile
tiktoken
tokenizers
toml
tomlkit
torch
torchvision
tornado
tqdm
traitlets
transformers
typing_extensions
typing-inspect
typing-inspection
tzdata
uritemplate
urllib3
watchdog
wcwidth
yarl
zstandard
